<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33542489038-rodn5ghs3n1bh3uv67p3ci7nborm5u85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33542489038-rodn5ghs3n1bh3uv67p3ci7nborm5u85</string>
	<key>API_KEY</key>
	<string>AIzaSyCbZR9DNANL5vfiiISg7EQZBV5Uj08C8CY</string>
	<key>GCM_SENDER_ID</key>
	<string>33542489038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dnstylish.flash.chat.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-873a7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-873a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33542489038:ios:c9e208b74404d89d2e619f</string>
</dict>
</plist>